/* Reset some default styles */
body,
h1,
h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    color: #333;
}

/* Container for the project details */
.project-details {
    background-color: snow;
    padding: 20px;
    border-radius: 5px;
    max-width: 540px;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Input and textarea styles */
input[type="text"],
textarea {
    width: 98%;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button style */
#addRecordBtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

h1 {
    text-align: center;

}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    background: snow;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 1px;
    text-align: center;
}

/* Highlight the header row */
th {
    background-color: #007bff;
    color: #fff;
}

/* Style for the "Add Sub-Record" button */
.addSubRecordBtn {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

.deleteSubRecordBtn {
    background-color: maroon;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 5px;
    cursor: pointer;
}

.addInnerRecordBtn {
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

/* Adjust cell widths for record inputs */
td input[type="text"],
td input[type="number"] {
    width: 90%;
    height: 1.5rem;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    border: gray 1px solid;
}

td select {
    width: 90%;
    height: 2.2rem;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    border: gray 1px solid;
}

.table-header {
    font-weight: bold;
    font-size: large;
    background: antiquewhite;
}

.table-header td {
    padding: 10px;
}

.table-footer {
    font-weight: bold;
    font-size: large;
}

.table-footer td,
.subRecordTotal {
    color: teal;
    text-align: end;
    font-weight: 500;
    font-size: larger;
    padding: 5px 10px;
}

.negativeValue {
    color: maroon;
}

.lastColHeader {
    width: 8%;
}

.lastCol {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px;
}

.icons {
    height: 20px;
    width: 20px;
}